<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pop Muse</title>
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0-alpha.6/litera/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="title-text">pop muse</h1>
    <h6>The latest pop music news</h6>
  </div>
</div>

{{{ body }}}

</body>
</html>
