body {
  background: url("/images/content.png");
}

.jumbotron {
  background: url("/images/bg.png");
  color: #FFF;
}

.title-text {
  font-family: 'Baloo', cursive;
}

.card {
  margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
}

.nav {
  margin-bottom: 20px;
}

.nav .btn {
  margin-top: 0;
}

.btn-opaque {
  background: none;
  border: 1px solid #D2D2D2;
  color: #D2D2D2;
}

.btn-opaque:hover {
  border: 1px solid #FFF;
  color: #FFF;
}
